body {
	margin: 0;
}

a {
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
}

.header-top {
	text-align: left;
	height: 200px;
	background-color: red;
}