body {
	margin: 0;
}

a {
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
}

.css-header {
	text-align: left;
	height: 240px;
}

.css-header-content {
	font-family: Roboto;
	font-size: 50px;
	font-weight: 700;
	position: absolute;
    bottom: 0;
    left: 0;
}

.css-cursor {
	font-family: Open Sans;
}

