/**
 * Overwritten defaults.
 */
body {
	margin: 0;
}

a {
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

/**
 * Custom Bootstrap grid classes.
 */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
}

/**
 * Animation for header.
 *
 * Source: https://www.gradient-animator.com/
 */
@-webkit-keyframes HeaderGradient {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-moz-keyframes HeaderGradient {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@-o-keyframes HeaderGradient {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}
@keyframes HeaderGradient {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
}

.css-header {
	text-align: left;
	height: 200px;
	background: linear-gradient(35deg, #c1ffef, #ffe8ba, #ffd3c9, #fffeca, #c4ffc3);
	background-size: 1000% 1000%;
	min-width: 420px;

	-webkit-animation: HeaderGradient 13s ease infinite;
	-moz-animation: HeaderGradient 13s ease infinite;
	-o-animation: HeaderGradient 13s ease infinite;
	animation: HeaderGradient 13s ease infinite;
}

.css-header-content {
	font-family: Roboto;
	font-size: 50px;
	font-weight: 700;
	color: black;
	padding: 5px;
	position: absolute;
    bottom: 0;
    left: 0;
}

.css-console {
	color: rgb(0, 184, 230);
}

.css-cursor {
	font-family: Open Sans;
	color: rgb(255, 153, 51);
}

